/* #region body */
 body{font-family: "Roboto",sans-serif;
  color: #434455;background-color:#fff ; }
  /*#endregion  body  */
  p,h1,h2,h3,h4,h5,h6{margin:0}
  /* #region table */
  ul,ol {list-style-type: none;margin: 0;
  padding-left: 0;}
  .visually-hidden{position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;}
  /* #endregion table */
  link{text-decoration: none;}
  /* #region links */
  a{text-decoration: none;}
  /* #endregion links */
  img{
    display: block;
    max-width: 100%;
    height: auto;}
  .container{
  width:1158px;
  padding-left: 15px;
  padding-right: 15px;
   margin: 0 auto;}
  .section{padding-top: 120px;
padding-bottom: 120px;}
  /* #region logo */
  .page-header{border-bottom: 1px solid #e7e9fc;
  box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);}
  .logo {font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  text-transform: uppercase;
    display: inline-block;
    margin-right: 76px;
  }
    .header-logo .logo-part{color: #2e2f42;}
  /*  #endregion logo */
  /*  #region navigation */
.header-nav{display: flex;
align-items: center;}    
.nav-link {position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
      padding-bottom: 24px;}
.list-nav{display: flex;
  gap:40px;
}
.header-container{display: flex;
   align-items: center;}
    .nav-link:hover,
    .nav-link:focus{color: #404bbf;}

    .current {
    color:#404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

    .current::after{content:"";
    position: absolute;
    left: 0;
    bottom: -1px;
     width: 100%;
     height: 4px;
     background-color: #404bbf;
    border-radius: 2px;
  
    }


/* #endregion navigation */
/*#region address */
.address{font-style: normal;display: flex;
  margin-left: auto;
}
  .list-address{display: flex;
    gap: 40px}
.address-link{transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;}
    .address-link:hover,
    .address-link:focus{color: #404bbf;}
    /* #endregion address */

/* #region main */
/* #region tech skills */



.techskills-conteiner{display: flex;
padding: 120px 0;
}
.techskills-conteiner-list{display: flex;
gap: 24px;
}
.techskills{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
 margin-bottom: 8px;}
.techskills-item{
  width: calc((100% - 72px) / 4); 
}
  .techskills-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}


        .techskills-wrapper {background-color: #f4f4fd;
          border: 1px solid #8e8f99;
          border-radius: 4px;
          width: 264px;
          height: 112px;
          display: flex;
          align-items: center;
            justify-content: center;
            margin-bottom: 8px;
        }



/* #endregion tech skills */
/* #region our team */
.ourteam-head {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
  text-align: center;
}
.ourteam-head-people {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.ourteam-head-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
.ourteam{background-color: #F4F4FD;
padding: 120px 0;
}
.wrapper {
  padding: 32px 0;
}
.ourteam-list{display: flex;
  gap: 24px;
}
.ourteam-table{background-color: #FFFFFF;
border-radius: 0px 0px 4px 4px;
box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 2px 1px rgba(46, 47, 66, 0.08);}
.ourteam {
  background-color: #F4F4FD;
  padding: 120px 0;
}
/* #endregion our team */
/* #region our porfolio */

.portfolio-block{position: relative;overflow: hidden;
}
.overlay{position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: #4d5ae5;
color: #f4f4fd;
padding: 32px;
transform: translateY(100%);
opacity: 0;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
opacity:250ms cubic-bezier(0.4, 0, 0.2, 1);
line-height: 1.5;
letter-spacing: 0.02em;
padding: 40px 32px;

}
.portfolio-block:hover .overlay{opacity: 1;
transform: translateY(0);
}




.portfolio-title{padding: 120px 0;}
.portfolio{text-transform: capitalize;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}
  .portfolio-custom{border: 1px solid #e7e9fc;
  padding: 32px 16px;
border-top: none;}
    .portfolio-list {
      display: flex;
    flex-wrap: wrap;
    gap:24px;
  row-gap: 48px;}
  
    .portfolio-item {
      width: ((100% - 48px) / 3);transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .portfolio-item:hover{box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);}
    .portfolio-head {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: #2e2f42;
  margin-bottom: 8px;}
  
    .portfolio-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #434455;}

/* #endregion our portfolio */

/* #endregion main */

    /*#region footer */
    .page-footer{
      background-color: #2e2f42;
    height: 312px;
   padding-top: 100px;
   padding-bottom: 100px;}
   .footer-logo .logo-part{color: #f4f4fd;}
     .page-footer,.page-footer-text {
       font-weight: 400;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: #f4f4fd;
     }
         .footer-logo{
          margin-bottom: 16px;
        
}
         .page-footer-text{
        max-width: 264px;
        }
   /* #endregion footer */
  
   
   /*#region button */
   .business{ background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), 
    url(../images/office.jpg);
     background-size: cover;
     background-repeat: no-repeat;
      background-color: #2e2f42;
      background-position: center;
      padding: 188px 0;
      margin: 0 auto;
      max-width: 1440px;
    }

   .business-head {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
   width: 496px;
    max-width: 496px;
    text-align: center;
    margin: 0 auto 48px;}

   .button-class { cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
   min-width: 169px;
   height: 56px;
   display: block;
   margin: 0 auto;
   border: none;
   padding: 16px 32px 16px 32px;
   border-radius: 4px;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

        .button-class:hover,
        .button-class:focus{
          background: #404bbf;}

   /*#endregion button */ 
.icon-list{display: flex;
align-items: center;
justify-content: center;
gap: 24px;
}
.item-icon{width: 40px;
  height: 40px;
 }
 .icon-link{display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color:#4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
    .icon-link:hover,
    .icon-link:focus{
          background-color: #404bbf;
        }
        .icon{fill:#f4f4fd}



.footer-wrapper {
display: flex;
align-items: baseline;
}
.footer-list {margin-right: 120px;}

        .footer-icon-text {
          margin-bottom: 16px;
          font-weight: 500;
          color:#FFFFFF;
        }
    .footer-icon-list{display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;}
            .footer-icon-link {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              fill: #4d5ae5;
              background-color: #4d5ae5;
              border-radius: 50%;
              transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
            .footer-item-icon {border-radius:50%;
              width: 40px;
              height: 40px;
            }
            .footer-icon-link:hover,
            .footer-icon-link:focus {
              background-color: #31D0AA
            }
       .footer-icon{fill:#f4f4fd;}
       .backdrop{position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
      z-index: 9999999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;  
 transition-property:visibility,
    opacity,pointer-events;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);}
    .modal{width: 408px;
    min-height: 584px;
  background-color: #fcfcfc;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
border-radius: 4px;
position: absolute;
top: 50%;
left: 50%;
transform:translate(-50%,-50%);
padding: 72px 24px 24px 24px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.close-btn {padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 0;
  line-height: 0;
  fill: #2e2f42;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open{visibility: visible;
opacity: 1;
pointer-events: auto;}
.close-btn:hover,
.close-btn:focus{border: none;
  border-radius: 100%;
fill:  #fff;
background-color: #404bbf;}
.close-btn-icon {transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.modal-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form{}
.modal-conteiner-block {margin-bottom: 8px;}

.modal-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
display: block;
margin-bottom: 4px;
}

.modal-form-input-content {position: relative;}

.modal-form-input {width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
 padding-left: 38px;
outline: transparent;
background-color: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover,
.modal-form-input:focus{
  border: 1px solid #4d5ae5;
  border-radius: 4px;}
.modal-form-texterea{margin-bottom: 16px}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon{ fill: #4d5ae5;}
.custom-checkbox{
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
width: 16px;
height: 16px;
display: inline-flex;
justify-content: center;
align-items: center;
margin-right: 8px;
fill: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.checkbox:checked + .label-checkbox .custom-checkbox{ background-color:#404bbf; 
border: transparent;
fill: #f4f4fd; }
.label-checkbox{cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

    
}
.label-link{line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.modal-form-cont-checkbox{margin-bottom: 24px;}
.user-comment{line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  font-size: 12px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  outline: transparent;
  padding: 8px 16px;
  width: 360px;
    height: 120px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-comment:focus{ border: 1px solid #4d5ae5;
 border-radius: 4px;}
 .user-comment::placeholder{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);}
  .footer-form{margin-left: 80px;
    position: relative;
  }
  .footer-label{}
  .footer-input{
  border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
  background-color: transparent;
  outline: transparent;
  color: #fff;
  

  font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding-left: 16px ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
    .footer-input::placeholder{
      font-weight: 400;
      font-size: 12px;
      line-height: 2;
      letter-spacing: 0.04em;
      color: #fff;
}
    .footer-input:focus{ border: 1px solid #4d5ae5;
      border-radius: 4px;}

  .btn-footer{display: flex;
    padding-left: 24px;
    align-items: center;
    justify-content: center;
    min-width: 165px;
      height: 40px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    margin: 0 ;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
    .footer-svg{ margin-left: 16px;
top: 8px;
left: 117px;}
.footer-svg-icon{fill: #fff;
  height: 24px;
width: 24px;}
.footer-svg-text{margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;}
  .footer-form-list{display: flex;
    gap:24px;
  }

